@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=latin-ext");
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h-100 {
  height: 100%;
}

.fade-in {
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.bottom-to-top, body main #section1 .helpy-hand, body main #section2 .helpy-hand-l, body main #section3 .helpy-hand, body main #section4 .helpy-hand {
  bottom: -100%;
  position: relative;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.top-to-bottom, body main #section2 .helpy-hand-r {
  top: -100%;
  position: relative;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

section.active .fade-in-start {
  opacity: 1;
}
section.active .bottom-to-top-start {
  bottom: 0;
  opacity: 1;
}
section.active .top-to-bottom-start {
  top: 0;
  opacity: 1;
}

body {
  background-image: -webkit-gradient(linear, right top, left top, from(#19212f), color-stop(40%, #222c3c), color-stop(60%, #131a25), to(#19212f));
  background-image: linear-gradient(to left, #19212f 0%, #222c3c 40%, #131a25 60%, #19212f 100%);
  font-family: "Montserrat", sans-serif;
  color: #9f9faa;
  font-size: 1.5rem;
  margin: 0;
  overflow-x: hidden;
}
body ::-moz-selection {
  color: white;
  background: #bb192c;
}
body ::selection {
  color: white;
  background: #bb192c;
}
body .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body a {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body p {
  margin: 1rem 0;
}
body header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #10151e;
  height: 120px;
  z-index: 5;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body header .logo svg {
  max-width: 440px;
}
body header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
body header nav ul li {
  padding: .5rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  height: 40px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  padding: 0;
}
body header nav ul li:hover {
  background-color: #bb192c;
}
body header nav ul li:hover a {
  color: black;
  top: -40px;
}
body header nav ul li a {
  color: #637087;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
  padding: 5px 10px;
  position: relative;
  top: 0;
}
body header nav ul li a:after {
  content: attr(onhover);
  position: relative;
  bottom: -10px;
  height: 30px;
}
body header nav ul li a.active {
  color: #bb192c;
}
body header nav ul li a.active:hover {
  color: black;
}
body footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#19212f), color-stop(40%, #222c3c), color-stop(60%, #131a25), to(#19212f));
  background-image: linear-gradient(to right, #19212f 0%, #222c3c 40%, #131a25 60%, #19212f 100%);
  height: 120px;
  z-index: 3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body footer:before {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  content: '';
  background-image: url(../img/sectionGlow.png);
  height: 200px;
  width: 100%;
  display: block;
  top: -200px;
  position: absolute;
  background-size: cover;
}
body footer:after {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  content: url(../img/about.png);
  display: block;
  position: absolute;
  background-size: cover;
  top: -111px;
  right: 8vw;
}
body main section {
  height: calc(100vh + 5px);
  position: relative;
}
body main section h1, body main section h2 {
  margin: 0;
  color: white;
  font-size: 10rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  position: relative;
  left: -10px;
}
body main section h1 span, body main section h2 span {
  display: block;
  position: relative;
}
body main section h1 .bigGray, body main section h2 .bigGray {
  color: #9f9faa;
  font-size: 6.5rem;
  line-height: 1rem;
  left: 4.5px;
}
body main section h1 .bigRed, body main section h2 .bigRed {
  color: #bb192c;
  font-size: 7.5rem;
  line-height: 8.5rem;
  left: 2.5px;
}
body main section h2 {
  line-height: 6.5rem;
}
body main section h2 .bigRed {
  line-height: unset;
}
body main #home {
  background-image: url(../img/homeGlow.png);
  background-size: cover;
  background-position: center;
}
body main #home img {
  position: absolute;
}
body main #home .redStripe {
  top: 3vh;
  height: 97.5vh;
  width: 18.5vw;
}
body main #home .home_r2 {
  top: 62.5vh;
  left: 25vw;
  height: 40vh;
}
body main #home .home_r {
  top: 3vh;
  left: 18.5vw;
  height: 60vh;
}
body main #home .home {
  top: 14vh;
  left: 12vw;
  height: 72vh;
}
body main #home .title {
  position: absolute;
  top: 52.5vh;
  left: 45vw;
}
body main #home .title img {
  position: relative;
}
body main #home .title p {
  top: -70px;
  position: relative;
  color: #637087;
}
body main #home .title .home_t2 {
  top: -35px;
  width: 20vw;
}
body main #home .title .home_t {
  width: 32vw;
}
body main #section0:after {
  content: '';
  background-image: url(../img/about.png);
}
body main #section1 .helpy-hand {
  content: url(../img/mobile.png);
  width: 63vw;
  height: 82vh;
  left: 26vw;
  position: absolute;
}
body main #section1.active .helpy-hand {
  opacity: 1;
  bottom: 0;
}
body main #section2 .helpy-hand-l {
  content: '';
  background-image: url(../img/tvL.png);
  width: 60vw;
  height: 76vh;
  left: 39vw;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #section2 .helpy-hand-r {
  content: '';
  background-image: url(../img/tvR.png);
  width: 60vw;
  height: 80vh;
  right: -26vh;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #section2.active .helpy-hand-l {
  opacity: 1;
  bottom: -8vh;
}
body main #section2.active .helpy-hand-r {
  opacity: 1;
  top: -12vh;
}
body main #section3 .helpy-hand {
  content: '';
  background-image: url(../img/logos.png);
  width: 45vw;
  height: 77vh;
  right: 14vw;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #section3.active .helpy-hand {
  opacity: 1;
  bottom: 0;
}
body main #section4 .helpy-hand {
  content: '';
  background-image: url(../img/webs.png);
  width: 46vw;
  height: 85vh;
  right: 13vw;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #section4.active .helpy-hand {
  opacity: 1;
  bottom: 0;
}
body header.active {
  top: -120px;
}
body footer.active {
  bottom: -100%;
}
body footer.active:before {
  opacity: 0;
}
