$body-bg: linear-gradient(to left, #19212f 0%, #222c3c 40%, #131a25 60%, #19212f 100%);
$header-bg: #10151e;
$footer-bg: linear-gradient(to right, #19212f 0%, #222c3c 40%, #131a25 60%, #19212f 100%);

$header-height: 120px;
$footer-height: 120px;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=latin-ext');

$primary-font: 'Montserrat', sans-serif;
$primary-font-color: #9f9faa;
$href-color: #637087;
$href-active-color: #bb192c;
$transition: all ease-in-out .3s;

$font-size: 1.5rem;

.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-between {
    justify-content: space-between;
}
h-100 {
    height: 100%;    
}

//animacje
.fade-in {
    opacity: 0;
    transition: $transition;
//    &.fade-in {
//        opacity: 1;
//    }
}

.bottom-to-top {
    bottom: -100%;
    position: relative;
    opacity: 0;
    transition: $transition;
//    &.bottom-to-top {
//        bottom: 0;
//        opacity: 1;
//    }
}

.top-to-bottom {
    top: -100%;
    position: relative;
    opacity: 0;
    transition: $transition;
//    &.bottom-to-top {
//        bottom: 0;
//        opacity: 1;
//    }
}

section {
    &.active {
        .fade-in-start {
            opacity: 1; 
        }
        .bottom-to-top-start {
            bottom: 0;
            opacity: 1;
        }
        .top-to-bottom-start {
            top: 0;
            opacity: 1;
        }
    }
}

body {
    background-image: $body-bg;
    font-family: $primary-font;
    color: $primary-font-color;
    font-size: $font-size;
    margin: 0;
    overflow-x: hidden;
    
    ::selection {
      color: white; 
      background: $href-active-color;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
        transition: $transition;
    }
    p {
        margin: 1rem 0;
    }
    header {
        width: 100%;
        position: fixed;
        top: 0;
        background-color: $header-bg;
        height: $header-height;
        z-index: 5;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        transition: $transition;
        .logo {
            svg {
                max-width: 440px;
            }
        }
        nav {
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                li {
                    padding: .5rem;
                    transition: $transition;
                    height: 40px;
                    overflow: hidden;
                    text-align: center;
                    cursor: pointer;
                    padding: 0;
                    &:hover {
                        background-color: $href-active-color;
                        a {
                            color: black;
                            top: -40px;
                        }
                    }
                    a {
                        color: $href-color;
                        font-size: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        height: 30px;
                        padding: 5px 10px;
                        position: relative;
                        top: 0;
                        &:after {
                            content: attr(onhover);
                            position: relative;
                            bottom: -10px;
                            height: 30px;
                        }
                        &.active {
                            color: $href-active-color;
                            &:hover {
                                color: black; 
                            }                            
                        }
                    }
//                    &.active {
//                        &:hover {
//                            a {color: black;}
//                        }
//                        a {
//                            color: $href-active-color;
//                        }
//                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        background-image: $footer-bg;
        height: $footer-height;
        z-index: 3;
        transition: $transition;
        &:before {
            opacity: 1;
            transition: $transition;
            content: '';
            background-image: url(../img/sectionGlow.png);
            height: 200px;
            width: 100%;
            display: block;
            top: -200px;
            position: absolute;
            background-size: cover;
        }        
        &:after {
            opacity: 1;
            transition: $transition;
            content: url(../img/about.png);
            display: block;
            position: absolute;
            background-size: cover;
            top: -111px;
            right: 8vw;
        }
    }
    main {
        section {
            height: calc(100vh + 5px);
            position: relative;
            h1, h2 {
                margin: 0;
                color: white;
                font-size: 10rem;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                line-height: 1;
                position: relative;
                left: -10px;
                span {
                    display: block;
                    position: relative;
                }
                .bigGray {
                    color: $primary-font-color;
                    font-size: 6.5rem;
                    line-height: 1rem;
                    left: 4.5px;
                }
                .bigRed {
                    color: $href-active-color;
                    font-size: 7.5rem;
                    line-height: 8.5rem;
                    left: 2.5px;
                }
            }
            h2 {
                line-height: 6.5rem;
                .bigRed {
                    line-height: unset;
                }
            }
        }
        #home {
            background-image: url(../img/homeGlow.png);
            background-size: cover;
            background-position: center;
//            z-index: 3;
            img {
                position: absolute;
            }
            .redStripe {
                top: 3vh;
                height: 97.5vh;
                width: 18.5vw;
                
//                top: 97.5vh;
//                opacity: 0;
//                transition: $transition;
//                &.fade-in {
//                    opacity: 1;
//                }
            }
            .home_r2 {
                top: 62.5vh;
                left: 25vw;
                height: 40vh;
            }
            .home_r {
                top: 3vh;
                left: 18.5vw;
                height: 60vh;
            }
            .home {
                top: 14vh;
                left: 12vw;
                height: 72vh;
            }
            .title {
                position: absolute;
                top: 52.5vh;
                left: 45vw;
                img {
                    position: relative;
                }
                p {
                    top: -70px;
                    position: relative;
                    color: $href-color;
                }
                .home_t2 {
                    top: -35px;
                    width: 20vw;
                }
                .home_t {
                    width: 32vw;
                }
            }
//            &.fp-completely {
//                .redStripe {
//                    top: 3vh;
//                    opacity: 1;
//                }
//            }
        }
        #section0 {
            &:after {
                content: '';
                background-image: url(../img/about.png);
            }
        }        
        #section1 {
//            &:after {
            .helpy-hand {
                content: url(../img/mobile.png);
                width: 63vw;
                height: 82vh;
                left: 26vw;
//                bottom: 0vh;
                position: absolute;
                @extend .bottom-to-top;
            }
            &.active {
                .helpy-hand {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }        
        #section2 {
//            &:before {
            .helpy-hand-l {
                content: '';
                background-image: url(../img/tvL.png);
                width: 60vw;
                height: 76vh;
                left: 39vw;
//                bottom: -8vh;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                @extend .bottom-to-top;
            }           
//            &:after {
            .helpy-hand-r {
                content: '';
                background-image: url(../img/tvR.png);
                width: 60vw;
                height: 80vh;
                right: -26vh;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                @extend .top-to-bottom;
//                top: -12vh;
            }
            &.active {
                .helpy-hand-l {
                    opacity: 1;
                    bottom: -8vh;
                }                
                .helpy-hand-r {
                    opacity: 1;
                    top: -12vh;
                }
            }
        }
        #section3 {
//            &:after {
            .helpy-hand {
                content: '';
                background-image: url(../img/logos.png);
                width: 45vw;
                height: 77vh;
                right: 14vw;
//                bottom: 0;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                @extend .bottom-to-top;
            }
            &.active {
                .helpy-hand {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }         
        #section4 {
//            &:after {
            .helpy-hand {
                content: '';
                background-image: url(../img/webs.png);
                width: 46vw;
                height: 85vh;
                right: 13vw;
//                bottom: 0vh;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                @extend .bottom-to-top;
            }
            &.active {
                .helpy-hand {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }     
    }

        header.active {
            top: -120px;
        }
        footer.active {
            bottom: -100%;
            &:before {
                opacity: 0;
//                top: 100px;
            }
        }
        main {
//            z-index: 4;
            #home {
//                z-index: 4;
            }
        }
    
}